<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Movies Ranking site</title>
</head>

<body>

    <header>
        <h1>My Movies Ranking site</h1>
    </header>

    <main>

        <p>An awesome platform for sharing my taste in favourite movies</p>

        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcNk3cpY4wRIUoEW1c3ecwzjDo2CLZYQ51lw&usqp=CAU"
            alt="Pirates movie image">

        <ul>
            <li><a href="../index.html">Home</a></li>

            <li><a href="action.html">Action</a></li>
            <li><a href="drama.html">Drama</a></li>
            <li><a href="thriller.html">Thriller</a></li>
            <li><a href="adventure.html">Adventure</a>
            <li>
        </ul>

        <button><a href="../index.html">Home</a></button>










    </main>






</body>

</html>